* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
    height: 100%;
    padding: 25px;
    margin: 0;
    font-family: Arial;
    background-image: url("city scene.jpg");
}

/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 20px;
    font-size: 17px;
    width: 20%;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#Home {
  background-image: url("tab background.jpg");
  height: 170%;
}
#About {
  background-image: url("tab background.jpg");
  height: 600%;
}
#Alternatives {
  background-image: url("tab background.jpg");
  height: 1410%;
}
#Aesthetics {
  background-image: url("tab background.jpg");
  height: 2528%;
}

#Donate {
  background-image: url("tab background.jpg");
  height: 233%
}

h1 {
  color: rgb(51, 0, 51);
  font-size: 30px;
}

h2{
  color: rgb(51, 0, 51);
  font-size: 30px;
}

h3{
  color: rgb(51, 0, 51);
  font-size: 22px;
}

h4{
  color: rgb(51, 0, 51);
  font-size: 16px;
}

h5{
  color: rgb(51, 0, 51);
  font-size: 25px;
}


.mySlides {
 width:  1200px;
 height: 500px;
}

.key{
  width: 550px;
  height: 200px;
}

.brand {
  width: 300px;
  height: 100px;
}

.picture {
  width: 590px;
  height: 500px;
}

.pic {
  width: 800px;
  height: 400px;
}

.pic2 {
  width: 800px;
  height: 200px;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.subheading{
  width: 1100px;
  height: 120px;
}

.mainTitle{
  width: 1000px;
  height: 100px;
}

ul.form {
    color: black;
    list-style-type: square;
}

.aes{
  width: 900px;
  height: 90px;
}

.seasons{
  width: 500px;
  height: 500px;
}

.comment {
text-align: center;
}
#title {
position:absolute;
top: 13600px;
left: 500px;
width:400px;
height:200px;
border: 2px solid black;
padding: 10px;
background-color: #d6f5f5;
}
div {
padding: 4px;
}

.button {
  color: #ffffff;
  background-color: #660033;
  border: 1px solid #ddd;
  border-radius: 1px;
  height: 40px;
  width: 100px;
  font-size: 20px;
  overflow-x: auto;
  transition: all .2s ease-in-out;
}
